<app-logo-elementos-centrados>
  <app-button-primary [text]="'Alumno'" [clickAction]="funcion" ></app-button-primary>
  <app-button-primary [text]="'Profesor'" ></app-button-primary>
  <app-input-primary [(value)]="inputVal" [placeholder]="'Nombre'" ></app-input-primary>
  <app-select-options [options]="[
                                  {text: 'guille', value: 1},
                                  {text: 'ana', value: 2},
                                  {text: 'juan', value: 3}
                                 ]">
  </app-select-options>
</app-logo-elementos-centrados>